{%  extends 'base.html' %}

{% block content %}
<!-- !PAGE CONTENT! -->
  


<div class="w3-main" style="margin-left:120px;text-align: center;">
  <!-- {% for mynote in mynotes.all %}
      <h1>{{ mynote.title }}</h1>
      <p>{{ mynote.keyword }}</p>
      <p>{{ mynote.content }}</p>
{% endfor %}-->




<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>키워드: ㅇㅇㅇ</p>
        <p>요약: ㅇㅇㅇ</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>


  <br>
    <div style="margin-left:50px;">
    <table border="1px" align="center" style="background-color: white; border-radius:5%; border: solid 0px; border-collapse: collapse; width: 1000px; height: 600px;">
      <th colspan=2 style="font-size:30px; text-align: left; padding-left: 50px; padding-top: 40px; border-bottom-color:#C5C5C5; " height="100px">
        {% if mynotes.title is not None %}  
          {{ mynotes.title }}
        {% endif %}
      </th>
      <tr style="border-color:#C5C5C5; border-left: 0px;"><!-- 첫번째 줄 시작 -->
          <td width="200px" style="padding-top:15px; border-top-color:#C5C5C5; font-size: 20px; font-weight: bold; vertical-align: text-top; text-align: center; border-top-color:#C5C5C5; border-bottom-color: #C5C5C5;">
            {% if mynotes.keyword1 is not None %}
              {{ mynotes.keyword1 }} <br><br>
            {% endif %}
            {% if mynotes.keyword2 is not None %}
              {{ mynotes.keyword2 }} <br><br>
            {% endif %}
            {% if mynotes.keyword3 is not None %}
              {{ mynotes.keyword3 }} <br><br>
            {% endif %}
            {% if mynotes.keyword4 is not None %}
              {{ mynotes.keyword4 }} <br><br>
            {% endif %}
            {% if mynotes.keyword5 is not None %}
              {{ mynotes.keyword5 }}
            {% endif %}
          </td>
          <td style="padding:10px; width:1000px; height: 400px; border-top-color:#C5C5C5; background-color: white; border: 0px; vertical-align:top; word-wrap: hard; Word-wrap: break-Word; Word-break: break-all;">
            {% if mynotes.content is not None %}
              {{ mynotes.content }}
            {% endif %}
          </td>
      </tr><!-- 첫번째 줄 끝 -->
      <tr style="border-top-color:#C5C5C5;"><!-- 두번째 줄 시작 -->
          <td style="font-size: 20px; height: 100px; padding-left: 50px; text-align: left;" colspan="2">
            {% if mynotes.summary is not None %}
              {{ mynotes.summary }}
            {% endif %}
          </td>
      </tr><!-- 두번째 줄 끝 -->
        </table>
      </div>



  <br>
    <input type="button" value="수정하기" onClick="location.href='detail'" style="width: 150px; background-color: #054FD3; margin-right:10px; font-size: 16px; border-radius: 17px; border-collapse: collapse; color: white; border: 0px;">
    <input type="button"  data-toggle="modal" data-target="#myModal" value="키워드 & 요약" onClick="modalKeyword()" style="width: 180px; background-color: #054FD3; font-size: 16px; border-radius: 17px; border-collapse: collapse; color:white; border:0px; margin-right:5px;  ">
    <button type="button" onClick="location.href='download'" style="border: none; outline:none; background:none;">
      <img src='/static/svg/export.svg' title="코넬식 노트 다운받기" width="30px" height="30px" >
    </button> 


  <!-- End page content -->
</div>

<!--
<script>
function modalKeyword() {
  alert("키워드 & 요약 modal");
}
</script>
-->
{% endblock %}