{%  extends 'base.html' %}

{% block content %}
<!-- !PAGE CONTENT! -->
  


<div class="w3-main" style="margin-left:120px;text-align: center;">
  <!-- {% for mynote in mynotes.all %}
      <h1>{{ mynote.title }}</h1>
      <p>{{ mynote.keyword }}</p>
      <p>{{ mynote.content }}</p>
{% endfor %}-->




<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>키워드: ㅇㅇㅇ</p>
        <p>요약: ㅇㅇㅇ</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>


  <br>
    <div style="margin-left:50px;">
    <table border="2px" style="background-color: beige; border: solid 2px; border-color: black; border-collapse: collapse; width: 1200px; height: 600px;">
      <th width="200px" height="100px"></th>
      <th style="font-size:30px; text-align: left; padding-left: 20px;">
        {% if mynotes.title is not None %}  
          {{ mynotes.title }}
        {% endif %}
      </th>
      <tr><!-- 첫번째 줄 시작 -->
          <td style="padding-top:15px; font-size: 20px; font-weight: bold; vertical-align: text-top; text-align: center;">
            {% if mynotes.keyword1 is not None %}
              {{ mynotes.keyword1 }} <br><br>
            {% endif %}
            {% if mynotes.keyword2 is not None %}
              {{ mynotes.keyword2 }} <br><br>
            {% endif %}
            {% if mynotes.keyword3 is not None %}
              {{ mynotes.keyword3 }} <br><br>
            {% endif %}
            {% if mynotes.keyword4 is not None %}
              {{ mynotes.keyword4 }} <br><br>
            {% endif %}
            {% if mynotes.keyword5 is not None %}
              {{ mynotes.keyword5 }}
            {% endif %}
          </td>
          <td style="padding:10px; width:1000px; height: 400px; background-color: beige; border: 0px; vertical-align:top; word-wrap: hard; Word-wrap: break-Word; Word-break: break-all;">
            {% if mynotes.content is not None %}
              {{ mynotes.content }}
            {% endif %}
          </td>
      </tr><!-- 첫번째 줄 끝 -->
      <tr><!-- 두번째 줄 시작 -->
          <td></td>
          <td style="font-size: 30px; height: 100px; padding-left: 20px; text-align: left;">
            {% if mynotes.summary is not None %}
              {{ mynotes.summary }}
            {% endif %}
          </td>
      </tr><!-- 두번째 줄 끝 -->
        </table>
      </div>



  <br>
    <input type="button" value="수정하기" onClick="location.href='detail'" style="width: 150px; background-color: rgb(214, 206, 255); font-size: 20px; border-radius: 10px; border-collapse: collapse">
    <input type="button"  data-toggle="modal" data-target="#myModal" value="키워드 & 요약" onClick="modalKeyword()" style="width: 180px; background-color: rgb(214, 206, 255); font-size: 20px; border-radius: 10px; border-collapse: collapse">
    <input type="button" value="다운받기" onClick="location.href='download'" style="width: 150px; background-color: rgb(214, 206, 255); font-size: 20px; border-radius: 10px; border-collapse: collapse">


  <!-- End page content -->
</div>

<!--
<script>
function modalKeyword() {
  alert("키워드 & 요약 modal");
}
</script>
-->
{% endblock %}