{%  extends 'base.html' %}

{% block content %}
<!-- !PAGE CONTENT! -->
  
  

<div class="w3-main" style="margin-left:120px;text-align: center;">

  <br>
  
  <h1>노트정리 페이지</h1>
  <br>
  <div id="vertical-line" style="height: 500px;"></div>
  <div style="border:1px solid; padding:10px; background-color: beige; height: 500px; max-width: 1200px;">
    <h2 style="margin-left: 200px; text-align: left;">1강.바보온달과 평강공주</h2>
    <hr id="main-line2">
    <hr id="main-line"> 
    <hr id="main-line">
    <hr id="main-line">
    <hr id="main-line">
    <hr id="main-line">
    <hr id="main-line">
    <hr id="main-line">
    <hr id="main-line">
    <hr id="main-line">
    <hr id="main-line2">
    </div>




  <br>
    <a href="detail">수정하기</a>

  <!-- End page content -->
</div>
{% endblock %}