{%  extends 'base.html' %}

{% block content %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:120px;">
    <div id='streamHeader'>
    </div>
    
    <table width="100%" style="margin-top:30px; margin-bottom:50px;">
        <tr>
            <td width="50%">
                {% comment %} 학습하기 {% endcomment %}
                <div id="playerArea" style="margin-left:30px;padding-right:50px;width:100%;">
                    <h1>Lecture Video</h1>
                    {% comment %} 동영상 플레이어 {% endcomment %}
                    <div id="videoArea" style="margin-top:15px; display:inline-block;width:95%;">
                        <video id="myVideo" src="/static/video/sample.mp4" type='video/mp4' width="100%" controls style='border-radius: 30px;'>
                        </video>
                    </div>
                </div>
            </td>
            <td width="30%">
                {% comment %} 퀴즈 {% endcomment %}
                <div>
                    <div id="quizArea" style="width:80%; height:90%; display:none;">
                        <h1>Quiz</h1>
                        <div id='quizSlide1' style="margin-top:15px; background-image:url('/static/svg/quizBoard.svg'); background-repeat:no-repeat; background-size:cover;">
                            <div style='margin-left:20px;'>
                                <br>
                                <p style='color:gray; font-size:12px;'>강의 영상 00:20 로부터 생성된 퀴즈입니다.</p>
                                <br>
                                <span class="quizKeyword" style="font-weight:bold; background-color: #054FD3; padding:5px 15px 5px 15px; margin-right:10px; border-radius: 17px; border-collapse: collapse; color: white; border: 0px;">pizza</span>
                                <span class="quizKeyword" style="font-weight:bold; background-color: #054FD3; padding:5px 15px 5px 15px; margin-right:10px; border-radius: 17px; border-collapse: collapse; color: white; border: 0px;">pasta</span>
                                <br><br>
                                <p style='font-weight:bold'>피자는 어느 나라에서 만들어졌을까요?</p>
                                <br>
                                <a onclick="questionToggle('quiz1')"><div id='quizDiv1' style='color:gray'>정답 : Click!</div></a>
                                <a onclick="questionToggle('quiz1')"><div id='ansDiv1' style='color:gray;display:none'>정답 : 이탈리아</div></a>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    

    {% comment %} 스크립트 {% endcomment %}
    <div id="scriptArea" style="margin-left:30px; width:800px; height:600px">
        <h1>Script</h1>
        <button id="scriptBtn" onclick="scriptToggle();">스크립트 열기</button>
        <div id="scriptValue" style="margin-top:10px;display:none;">
            <div style="margin-left:30px; padding: 0px 30px 10px 10px"><br><br>
                {% for line in lines %}
                    {{ line }}
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
    
<!-- End page content -->
{% endblock %}