#navigation{
    background-color: navy;
    width:10%;
    height:100%;
    float:left;
    position: absolute;
    z-index:1;
}

#page {
    position: relative;
    width:100%;
    height:3000px;
}

#header {
    background-color: lightgray;
    width:100%;
    height:150px;
    display:block;
}

#content {
    width:90%;
    overflow:auto;
    height:1000px;
    display: inline-block;
}

#main-line{
    border: 1px solid;
    color:  black;
    margin-top: 30px;
    position: absolute;
    z-index: 0;
}
#main-line2{
    border: 2px solid;
    color: black;
    margin-top: 30px;
    position: absolute;
    z-index: 0;
}

#vertical-line{
    width: 3px; /* Line width */
    background-color:  black; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. 
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
    margin-left: 200px;
    position: absolute;
    z-index: 0;
  }
#button-style{
    background-color: rgb(255, 253, 119);
    font-size: 20px;
    width: 300px;
}
  mark{
    font-weight:bold;

    background-color:rgba(255,0,0,0.2);

}
body {
    margin:0;
}